{% extends "front.html" %}
{% load front_extras %}

{% block content %}

    <div class="row">

        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">




                    <h3>Qual o prazo para meus créditos expirarem?</h3>

                    <p>
                        Os créditos não expiram, ficam acumulados para serem usados quando necessário.
                    </p>
                    <br>



                    <h3>Qual o tempo para os créditos de recargas serem disponibilizados?</h3>

                    <p>
                        Os créditos que utilizam a forma de pagamento "cartão de crédito", levam em média 5 minutos.
                        Pagamentos efetuados por boleto bancário, levam até 3 dias úteis.
                    </p>
                    <br>


                    <h3>Quando um SMS é tarifado?</h3>

                    <p>
                        Uma mensagem só é tarifada quando o status é mostrado como "Mensagem Recebida"
                    </p>
                    <br>

                    <h3>Posso enviar qualquer tipo de SMS?</h3>

                    <p>
                        SMS com divulgação de qualquer tipo de ideologias, incluindo, mas não se limitando a,
                        motivações políticas, canais de notícias, religiosas, correntes de pensamento, para uso de
                        cunho pessoal, e outras.
                    </p>
                    <br>

                    <h3>Posso enviar SMS para campanhas políticas?</h3>

                    <p>
                        Não. É proibido envio de SMS com conteúdo eleitoral ou político.
                    </p>
                    <br>


                    <h3>Qual horário que posso enviar SMS?</h3>

                    <p>
                        SMS MARKETING só podem ser enviados no período de 09h00min até 21h00min
                    </p>
                    <br>

                    <h3>Posso enviar SMS todos os dias?</h3>

                    <p>
                        A cada 7 (sete) dias, um determinado USUÁRIO poderá ser impactado com no máximo 5 (cinco)
                        DISPAROS de SMS.
                    </p>
                    <br>

                    <h3>O que é SMS Marketing?</h3>

                    <p>
                        É a SMS de texto que promove um serviço ou produto, para estimular a compra ou transação
                        comercial com conotação
                        publicitária, promocional ou de propaganda.
                    </p>
                    <br>

                    <h3>O que é SMS Corporativo?</h3>
                    É a mensagem de texto utilizada para comunicação estritamente sobre o serviço/produto prestado pelo
                    Cliente, com cunho informativo, tais como cobrança,
                    comunicações, alertas e demais conteúdos para notificações.


                </div>
            </div>
        </div>

    </div>

{% endblock %}