{% extends "front.html" %}
{% load front_extras %}

{% block content %}

    <div class="row">

        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">


                    <p>
                        Para mensagens corporativas, há a opção de <strong>"enviar link de confirmação"</strong>.
                        Marcando essa opção, o destinatário recebe um link para
                        clicar e confirmar uma informação e ainda ele poderá responder. Essa opção pode ser usada para
                        confirmar consultas, confirmar presença em algum evento, etc.

                    </p>


                </div>
            </div>
        </div>

    </div>

{% endblock %}